.work-card {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  &-content {
    display: flex;
    flex-direction: column;
    &-date {
      font-size: 0.8rem;
      font-weight: 500;
      font-style: italic;
      color: grey;
    }
    &-position {
      font-size: 1.5rem;
      font-weight: bold;
      color: rgba(176, 0, 0, 0.9);
    }
    &-company {
      font-size: 1rem;
      font-weight: 500;
      color: black;
    }
    &-location {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      svg{
        color: rgba(176, 0, 0, 0.9);
      }
    }
  }
}
