.certificates-card {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  &-content {
    display: flex;
    flex-direction: column;
    &-date {
      font-size: 0.8rem;
      font-weight: 500;
      font-style: italic;
      color: grey;
    }
    &-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: rgba(176, 0, 0, 0.9);
    }
    &-program {
      font-size: 1rem;
      font-weight: bold;
      color: black;
    }
    &-institution {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      font-style: italic;
      svg {
        color: rgba(176, 0, 0, 0.9);
      }
    }
    &-content {
      font-size: 1rem;
      font-weight: 500;
      color: black;
      text-align: justify;
      font-style: italic;
    }
    &-responsibilities {
      h3 {
        font-size: 1.1rem;
        font-weight: bold;
        color: rgba(176, 0, 0, 0.9);
      }
      .items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 10px;
        z-index: 1;
        .item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
    &-technologies {
      h3 {
        font-size: 1.1rem;
        font-weight: bold;
        color: rgba(176, 0, 0, 0.9);
      }
    }
  }
}
