* {
  font-family: "Verdana", Courier, monospace;
}
body {
  background-image: url("../src/assets/background-v2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.app-container {
  display: flex;
  flex-direction: row;
  margin: 20px 100px;
  min-height: 900px;
  .sidebar {
    max-width: 400px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(176, 0, 0, 0.9);
    padding: 10px;
  }
  &-body {
    flex: 1;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    &-header {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      margin: 20px;
    }
  }
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  margin: 2px;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: orange;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    margin: 0;
    min-height: 0;
    .sidebar {
      max-width: 100%;
      margin-right: 0;
      border-radius: 10px 10px 0 0;
    }
    .main {
      border-radius: 0;
      margin-left: 0;
    }
  }
}
